.portfolio-flex-container{
    display: flex;
    width: 90vw;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 250px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.portfolio-flex-container p{
    font-size: 16pt;
}
.card-1{
    width: 600px;
    background-color:white;
    border: 3px solid rgb(195, 0, 0,.15);
    border-radius: 5px;
    margin-top: 20px;
}

a {
    color: rgb(195, 0, 0,.8);
    text-decoration: none;
}

a:hover 
{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.content-grid{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title-of-project"
        "project-image"
        "tech-header"
        "technologies"
        "description-header"
        "description"
    ;
}

.title-of-project{
    grid-area: title-of-project;
    justify-self: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.project-image{
    grid-area: project-image;
    justify-self: center;
}
.tech-header{
    grid-area: tech-header;
    justify-self: center;
}
.technologies{
    grid-area: technologies;
    justify-self: center;
    text-align: center;
}
.description-header{
    grid-area: description-header;
    justify-self: center;
}
.description{
    grid-area: description;
    justify-self: center;
}

#project-image{
    width: 100%;
    border-radius: 10px; 
    padding-left: 20px;
    padding-right: 20px;
}

#project-link{
    width: 100px;
    margin-top: 20px;
}

p{
    margin-left: 20px;
}

@media screen and (max-width: 440px){

    .portfolio-flex-container{
        margin-top: 150px;
    }

}