@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
body{
    background-image:url("../images/bantersnaps-vUwJ8uu_C1M-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-position: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 500;
    font-size: 45px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    opacity: .75;
    height: 30vh;
    position: fixed;
    z-index: 1;
    
}
.nav-bar-options{
    list-style: none;
}
.nav-bar-options li {
    display: inline-block;
    padding: 0 50px;
    text-transform: uppercase;
    z-index: initial;
}
.nav-bar-options li a{
    transition: .5s;
    color: rgb(11, 6, 68);
    text-decoration: underline;
}
.nav-bar-options li a:hover {
    color: #362f2f;
    text-decoration: none;
}
#photo{
    width: 100%;
    border-radius: 50%;
    border-left: solid;
    border-color: red;
    border-width: 5px;
    
}

.holdingContainer{
    width: 80%;
    display:flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    padding: 50px;
    z-index: 2;
    
    
}
.left{
    flex: 1;
    padding-right:30px; 
    font-family: 'Amatic SC' , sans-serif;
    font-size: 35px;
    color: red;
    text-decoration: underline;
    margin-top: 185px;
}
.right{
    flex: 1;
    background:#F9F9F8;
    padding: 30px;
    font-size: 45px;
    font-family: 'Amatic SC' , sans-serif;
    opacity: .95;
    margin-top: 35%;
    margin-left: 50px;
    color: red;
    border-left: solid;
    border-left-color: red;
    position: relative;
    height: 50%;

}

@media screen and (max-width: 1000px){
    .holdingContainer{
        flex-direction: column;
    }
    .left{
        margin: 0 auto;
    }
    .right{
        margin: 0 auto;   
    }
}

