@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


*{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
body{
    background-image:url("../images/bantersnaps-vUwJ8uu_C1M-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-position: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
a{
    text-decoration: none;
}
header{
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #ffffff;
    opacity: .75;
}
.Name-logo{
    cursor: pointer;

}
.nav-bar-options{
    list-style: none;
}
.nav-bar-options li {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}
.nav-bar-options li a{
    transition: .5s;
    color: rgb(11, 6, 68);
    text-decoration: underline;
}
.nav-bar-options li a:hover {
    color: #362f2f;
    text-decoration: none;
}
#logo{
    position: flex;
    align-items:flex-start;
    opacity: none;
    
}
#photo{
    size: 25%;
    height: 60vh;
    margin-left: 5%;
    padding: 25px;
    border: none;
    border-radius: 25px;
}